<footer class="footer bg-light py-3 mt-auto">
  <div class="container">
    <span class="text-muted">Giftu</span>
    <br />
    <span class="text-muted">Made by Ken Steckler</span>
  </div>
</footer>
