<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <h1><%= group.name %></h1>
    <h2><%= group.date %></h2>
    <p>        
        <a href="/groups/<%= group._id %>/edit">Edit</a>
    </p>
    <footer>
        <a href="/groups">All groups</a>
    </footer>
</body>
</html>