<% layout('layouts/boilerplate') %>
<div class="card w-60 m-auto mt-4">
      <h3 class="m-auto mt-4 mb-1">Happy Birthday! 🎉🥳</h3>
      <p class="m-auto">Add a new group here: </p>
    <div class="card-body">
        <form action="/groups" method="POST" novalidate class="validated-form mt-3">
            <div class="mb-3 w-50 m-auto">
                <label class="form-label" for="name">Group Name</label>
                <input class="form-control" type="text" id="name" name="group[name]" required>
            </div>
            <div class="mb-4 w-50 m-auto">
                <label class="form-label" for="date">Special Day</label>
                <input class="form-control" type="text" id="date" name="group[date]" placeholder="MM/DD/YYY" minlength="8" maxlength="10" required>
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                  Please enter follow that format MM/DD/YYYY
                </div>
            </div>
            <div class="mb-4 w-50 m-auto">
              <button class="btn btn-primary">Add Group</button>
              <a href="/groups" class="btn btn-info">Go back</a>
            </div>
        </form>
    </div>
  </div>
</div>
