<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Group</title>
</head>
<body>
    <form action="/groups" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="group[name]">
        </div>
        <div>
            <label for="date">Date</label>
            <input type="text" id="date" name="group[date]">
        </div>
        <button>Add Group</button>
    </form>
    
</body>
</html>

<!-- group[name]: group things under group, if you have multiple groups with square brackets and data is sent via post request to express, everything in req.body will be stored under group. Basically, this syntax groups content together -->