<% layout('layouts/boilerplate') %>
<div class="card w-50 m-auto my-auto">
  <h3 class="mt-4 m-auto mb-3">Sign up to Giftu</h3>
  <div class="m-auto mb-2">Already a member? <a href="/login">Log in</a></div>
  <div class="card-body">
    <form action="" method="POST" class="validated-form" novalidate>
      <div class="mb-3 w-50 m-auto">
        <label class="form-label" for="username">Username</label>
        <input
          class="form-control"
          type="text"
          id="username"
          name="username"
          minlength="3"
          maxlength="10"
          required
        />
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          Username must be 3 to 10 characters
        </div>
      </div>
      <div class="mb-4 w-50 m-auto">
        <label class="form-label" for="email">Email</label>
        <input
          class="form-control"
          type="email"
          id="email"
          name="email"
          required
        />
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          Please enter a valid email address
        </div>
      </div>
      <div class="mb-4 m-auto w-50">
        <label class="form-label" for="password">Password</label>
        <input
          class="form-control"
          type="password"
          id="password"
          name="password"
          minlength="5"
          maxlength="15"
          required
        />
        <div id="validationServerUsernameFeedback" class="invalid-feedback">
          Password must be 5 to 15 characters
        </div>
      </div>
      <div class="m-auto w-50">
        <button class="btn btn-success w-100 mb-3">Submit</button>
      </div>
    </form>
  </div>
</div>
